#backlight-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
    background: none;
}
#backlight-slider trough {
    min-height: 12px;
    min-width: 80px;
    border-radius: 0.2rem;
    background: black;
}
#backlight-slider highlight {
    min-width: 10px;
    border-radius: 0.2rem;
    background: red;
}
