/* full */
/* #battery.full { */
/*   background: black; */
/*   color: purple; */
/* } */

/* #battery.discharging { */
/*   background: yellow; */
/* } */

#battery {
  /* margin: 0 0.8rem 0 0; */
  padding: 0.2rem 0.6rem;
  border-radius: 0.3rem;
  /* color: @yellow; */
  /* background-color: black; */
}

/* enough charge */
/* charging */
/* ise yaramiyor??? */
/* #battery.charging { */
/*   color: lawngreen; */
/*   background-color: #2d302f; */
/* } */


#battery.good {
  color: #fc9000;
  background-color: @bg-color;
}

#battery.fine {
  color: #fcb000;
  background-color: @bg-color;
}

/* discharging warning */
#battery.discharging.warning {
  color: #fcd600;
  background-color: @bg-color;
}

/* discharging critical */
#battery.discharging.critical {
  color: #fcf600;
  background-color: @bg-color;
}
