#language {
  margin: 0 0;
  padding: 0 0.8rem;
  border-radius: 0.3rem;
  /* border-left: white solid 0.1rem; */
  /* border-right: white solid 0.1rem; */
  color: white;
  background-color: @bg-color;
}
